@font-face {
    font-family: 'Bellota-Bold';
    src: url('../font/Bellota-Bold.otf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../font/Bellota-BoldItalic.otf');
}
@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../font/Bellota-LightItalic.otf');
}



/******* START GLOBAL *******/

body {
    line-height: 25px;
    background-color: #1a1a1d;
    font-family: 'Spectral', serif;
    color: rgb(177, 177, 177);

}

.container{
    width:80%;
    margin:auto;
    /* overflow:hidden; */
}
  
a {
    color: rgb(124, 147, 157);
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}

h6 {
    font-weight: bold;
    font-size: 17px;
}

ul {
    list-style-type: none;
}


  input[type="text"] {
    border-radius: 5px;
    padding: 12px;
    font-size:20px;
  }

  input[type="password"] {
    border-radius: 5px;
    padding: 12px;
    font-size:20px;
  }

  input[type="text"]:focus {
    border: 3px solid #555;
  }

  input[type="password"]:focus {
    border: 3px solid #555;
  }

  h2 {
      font-family: 'Bellota-Bold', Courier, monospace;
      font-weight: 900;
  }


  .butn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  /******* FINISH GLOBAL *******/

                    /* START HEADER */

header {
    background:#4e4e50;
    color:#ffffff;
    width: 100%;
    min-height:70px;
    border-bottom:#231e1c 3px solid;
    /* position: fixed; */
    top: 0;
    padding-top: 10px;
}

.log_logo {
    display: flex;
    justify-content: space-between;
}

header li {
    display:inline;
}

header nav {
    font-size: 25px;
}

header nav ul {
    text-align: center;
}

.log_nav {
    text-align: right;
    margin: 0 100px 0 0;
    font-size: 20px;
}

.log_nav li {
    margin: 0 15px;
}

#logo_img {
    text-align: left;
    margin: 0 0 5px 0;
}

#logo_img img {
    width:250px;
    height: 70px;
}

                    /* FINISH HEADER */

                    /* LOGIN / REGISTER FORMS */
.form_login {
    display: none;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.form_register {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

                    /* REGISTER FORM */

.form_register h2 {
    text-align: center;
    padding: 20px;
}

.form_register input[type="text"], .form_login input[type="text"] {
    display: flex;
    margin: 10px auto;
    width: 400px;
}

.form_register input[type="password"], .form_login input[type="password"] {
    display: flex;
    margin: 10px auto;
    width: 400px;
  }

.login_register_button {
    margin: 10px;
   
}

                    /* FINISH REGISTER FORM */
                    /* LOGIN FORM */

.form_login h2 {
    text-align: center;
    padding: 20px;
}

                    /* FINISH LOGIN FORM */

                    /* SIDEBAR */

                    .page {
                        display: flex;
                    }
#sidebar {
   width: 15%;
   min-width: 150px;
    background-color: #4e4e50;
}
#sidebar h4 {
    text-align: center;
}

#sidebar hr {
    width: 100%;
}
.categories ul li {
    font-size: 20px;
    padding: 5px 0 5px 20px;
}

.categories ul hr {
    margin: 2px 0;
}

.categories ul {
    padding-left: 0px;
}

.categories {
    padding: 25px 0 0 0;
}
                
                    /* FINISH OF SIDEBAR */

                    /* MAIN CONTENT */
.main-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* background-color: #555; */
    display:inline-block;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
}

.item {
    /* min-width: 200px; */
    border-radius: 5px;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 30px;
    border: 1px #231e1c solid;
    background-color: whitesmoke;

}
.item .img-box {
    text-align:center;
}
.item .img-box img {
    width:100%;
    height: 300px;
    transition: transform .2s;
}

.description-box {
    
    width: 100%;
    display: inline-block;
    height: 50px;
    position: relative;
    
}

.item h6 {
    display: inline-block;
    height: 50px;
    padding: 10px 10px 0 10px;
    margin: 0;
}
.description-box span {
    position: absolute;
    right: 5;
    bottom: 0;
    font-size: 18px;
}
.img-box img:hover {
    transform: scale(1.1);
}



                    /* FINISH OF MAIN CONTENT */
/* MAIN CONTENT OF SUBITEM */

.sub-item {
    display: flex;
    justify-content: space-between;
    min-height: 800px;

}

.sub-description-box {
    margin: 50px 75px 0 0;
    background-color: #7395ae;
    padding: 20px;
    border-radius: 15px;
    min-height: 500px;
    height: 650px;
}

.sub-description-content {
    width: 400px;
    padding: 10px;
}
.sub-description-box h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.sub-description-content span {
    font-size: 20px;
    color: rgb(78, 78, 78);
    line-height: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub-price {
    text-align: right;
    padding: 0 25px 0 0;
}

.sub-buttons {
    display: flex;
    width: 200px;
    height: 40px;
    justify-content: space-between;
}

.sub-buttons input[type="submit"]{
width: 90px;
height:40px;
font-size: 14px;
}


.sub-price {
    font-size: 26px;
    line-height: 100%;
    margin: auto 0;
}


.sub-img-box {
    margin: 50px 0 0 0;
    outline: 1px #231e1c solid;
    width: 500px;
    height: 600px;

}

.sub-img-box img {
    width: inherit;
    height: inherit;

}

.sub-price-buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.buy_button {
 height: 80px;   
 width: 130px;
}


/* FINISH OF MAIN CONTENT OF SUBITEM */

/* PROFILE */
.profile-content {
    background-color: rgb(255, 200, 127);
    color: black;
}

.profile_item_photos img  {
    width: 300px;
    height: 150px;
}

/* FINISH OF PROFILE */