@font-face {
    font-family: 'Bellota-Bold';
    src: url('../font/Bellota-Bold.otf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('../font/Bellota-BoldItalic.otf');
}
@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('../font/Bellota-LightItalic.otf');
}



body {
    line-height: 25px;
    /* background-color: #f1f3f3; */
}

a {
    color: #20aAe5;
    text-decoration: none;
}

.container{
    width:80%;
    margin:auto;
    /* overflow:hidden; */
  }


                    /* HEADER */

header {
    background:#3d3d3d;
    color:#ffffff;
    width: 100%;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
    /* position: fixed; */
    top: 0;
    padding-top: 10px;
}

header li {
    display:inline;
}

header nav {
    font-size: 25px;
}

header nav ul {
    text-align: center;
}

.log_nav {
    text-align: right;
    margin: 0 100px 0 0;
    font-size: 20px;
}

.log_nav li {
    margin: 0 15px;
}

#logo_img {
    text-align: center;
    margin: 0 0 25px 0;
}

#logo_img img {
    width:350px;
    height: 100px;
}

                    /* HEADER */